.equipo{
    position: relative;
    width: 100%;
    background-color: #D9f7e9;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
   
}

.equipo h3{
    display: inline-block;
    font-weight: 400;
    color: #212121 ;
    border-bottom: 4px solid;
    padding-bottom: 8px;
}
.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.color{
    position: absolute;
    top: 20px;
    right: 50px;
}